body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Main Content Styling */
main {
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
    margin: 0;
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: left;
    color: #660066;
    text-shadow: none;
    margin-top: 0;
    font-size: 3em; 
}

h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #fff;
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    padding: 10px;
    border: 2px solid #ff66cc;
    border-radius: 100px;
    background-color: #ff66cc;
    display: inline-block; /* Shrink box to fit text */
}

/* Awkward List Styling */
ul {
    font-family: 'Comic Sans MS', sans-serif;
    color: #5A5A5A;
    list-style: square;
    padding-left: 10px;
    margin-top: 5px;
   
}
address {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: centered;
    color: #5A5A5A;
    list-style: square;
    padding-left: 10px;
    margin-top: 5px;
   }
}

li {
    margin-bottom: 10px;
    font-size: 1.4em; /* Bigger list items */
}
