.profile-buttons {
    display: flex;
    justify-content: center; /* Center the images */
    gap: 1px; /* Space between images */
}

.profile-img {
    width: 60px;
    height: 60px;
}

.centered-header {
    text-align: center; /* Center the header text */
    margin: 0; /* Remove default margin */
    font-family: 'Arial Black', Arial, sans-serif; /* Use Arial Black as the font */
    font-weight: bold; /* Make the text bold */
    font-size: 14px; /* Adjust the font size as needed */
    color: #777; /* Set a gray color */
}

.centered-text {
    text-align: center; /* Center the additional text */
    font-size: smaller; /* Shrink the font size */
    margin-top: 5px; /* Reduce top margin for closer proximity */
}

.testimonial-img {
    width: 160px; /* Double the previous size from 80px to 160px */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

/* Adjusted rule for featured profiles container */
.featured-profiles {
    max-width: 180px; /* Set maximum width for the text container */
    margin: 0 auto; /* Center the container */
    padding: 0; /* Remove padding to bring elements closer */
    text-align: center; /* Center text */
}

/* Optional: Reduce margin for images */
.profile-buttons a {
    margin: 0; /* Remove margin around the anchor elements */
}

/* disabling font smoothing */
body, p, h1, h2, h3, h4, h5, h6, a, span, div {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: none;
  font-family: Arial, sans-serif;
}
