.profile-buttons {
    display: flex;
    justify-content: center; /* Center the images */
    gap: 5px; /* Space between images */
}

.profile-img {
    width: 57px;
    height: 57px;
}

.centered-header {
    text-align: center; /* Center the header text */
    margin: 0; /* Remove default margin */
}

.centered-text {
    text-align: center; /* Center the additional text */
    font-size: smaller; /* Shrink the font size */
}

.testimonial-img {
    width: 160px; /* Double the previous size from 80px to 160px */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
}
