/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    width: 600px;
    margin: 0 auto;
}

table {
    width: 500px; /* Set table width to 500px */
    border: 1px solid black;
    border-spacing: 0px; /* Original value, can change to 0 if desired */
    background-color: #eaeaea;
    margin: 20px auto; /* Center the table */
}

th {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 0px;
}

td {
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.terms-box {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 0px;
    background-color: white;
}

.small-text {
    font-size: 12px;
}

.checkbox-label {
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

button:hover {
    background-color: #45a049;
}
